.dynamic-tab-horizontal{
    margin-left:18%;

    &__route{
        margin-top:6rem;
        min-height: 10rem;
        width:95%;
    }
}
@media screen and (max-width:576px){
    .dynamic-tab-horizontal{
        margin-left:0;
    
        &__route{
            width:95%;
        }
    }
}