
.container {
    padding: 2rem;
    width:80%;
    border: 1px solid black;
    margin-left: 5rem;
    margin-top: 5rem;
  }
   
  .slick-slide div {
    margin: auto;
  }
  .carousel{
    border: 1px solid black;
    width:90%;
    height: 20rem;
    margin: 3rem;
    padding: 1rem;  
    overflow: auto;   
  }
  .single-carousel{
    border: 1px solid black;
    width:95%;
    height: 20rem;
    margin: 3rem;
    padding: 1rem; 
    overflow: auto;
  }
  .vertical-carousel{
    border: 1px solid black;
    width:95%;
    height: 12rem;
    margin: 1rem;
    padding: 2rem; 
    overflow: auto;
    
  }
.slick-next:before, .slick-prev:before {    
    color: #000 !important;
}
  .slick-prev {
    left: -2% !important;
    z-index: 1;    
  }
  .slick-next{
    right: -2% !important;
    z-index: 1;    
  }
  @media screen and (max-width:575px){
    .slick-prev {
      left: -5% !important;   
    }
    .slick-next {
      right: -5% !important;   
    }
  }
  
  .slide1{
    width:97%;
    height:16rem;
    margin: 3rem;
    padding: 1rem; 
}
.slide2{
    width:85%;
    height:10rem;
    margin: 3rem;
    padding: 1rem; 
    overflow-y: auto;
    overflow-x: hidden;
}
.carousel::-webkit-scrollbar-track, 
.single-carousel::-webkit-scrollbar-track,
.vertical-carousel::-webkit-scrollbar-track,
.slide2::-webkit-scrollbar-track,
.slide1::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  box-shadow: none;
	background-color: #F5F5F5;
}

.carousel::-webkit-scrollbar,
.single-carousel::-webkit-scrollbar,
.vertical-carousel::-webkit-scrollbar,
.slide2::-webkit-scrollbar,
.slide1::-webkit-scrollbar
{
  width: 3px;
  margin-top: 40%;
	background-color: #F5F5F5;
}

.carousel::-webkit-scrollbar-thumb,
.single-carousel::-webkit-scrollbar-thumb,
.vertical-carousel::-webkit-scrollbar-thumb,
.slide2::-webkit-scrollbar-thumb,
.slide1::-webkit-scrollbar-thumb
{
	background-color:grey;
}
  

  