.heading1{
    margin-left: 18%;
    margin-top:5%;
    margin-bottom:1%;
    width:fit-content;
}
.heading2{
    color: orange;
    font-size: 22px;
    margin-left:-25%;
    margin-bottom:2%;
}
.login_button{
    margin-left:25%;
    width:20%;
    text-align:left;
}

@media only screen and (max-width:575px){
    .heading1{
        margin:0 auto;
        width:fit-content;
        font-size:17px;
    }
    .heading2{
        margin:0 auto;
        font-size:17px;
        margin-bottom: 5%;
    }
}

