.custom-dialog{
    display: flex;
    flex-direction: row;
    margin-left: 15%;
}
.custom-dialog>*{
    margin-left: 2rem;
}
@media screen and (max-width: 575px){
    .custom-dialog {
        flex-direction: column;
        margin-left: 0;
    }
    .custom-dialog>*{
        margin-bottom: 2rem;
    }

}