
.summary-dashboard{
    margin-left: 20%;
    width: 70%
}

.card-component{
    border: 1px solid gainsboro;
    margin-top: 4rem;
    margin-right: 19.277rem;
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: flex-start;    
    padding: 0.482rem;
    margin-left: 5%;
    margin-bottom: 5rem;
}

@media screen and (max-width: 575px) {
    .summary-dashboard{
        margin-left: 0;
        width:100%;
    }
    .card-component{
        display: flex;
        flex-wrap: wrap;
        width:23.5rem;
        margin: 4rem auto;
    }
}

@media screen and (min-width:1600px){
    .summary-dashboard{
        margin-left:25%;
        width:49%;
    }
    .card-component{
        margin-top: 6rem;
    }
}

@media screen and (min-width:2000px){
    .summary-dashboard{
        width:27%;
    }
}