.imageUploader{
    width:0;
    height:0;
    margin-top:-6.9rem;
    margin-left:8.5rem;
    
}
.name-icon{
    margin-top: -3.5rem;
    margin-left:-2.9rem;
    width:7rem;
    font-size: 1.3rem;
}